@import url('https://fonts.googleapis.com/css?family=PT+Sans:regular%7CMontserrat:regular,700%7CArchivo+Narrow:400,regular,700%7CJulius+Sans+One:400%7CLato:regular,700,italic%7CSource+Sans+Pro:regular');

body {
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
}

/* ========== Start HeadSection ========== */
section.background-clr{
  background-color: #2d517f;

  .section-content {
    padding: 60px 210px 110px;

    @media (min-width: 320px) and (max-width: 768px){
      padding: 60px 10px 40px;
    }

    &__title {
      height: auto;
      letter-spacing: 0px;
      word-spacing: -1px;
      width: 530px;
      transform: scale(0.876, 1);
      transform-origin: left top 0px;

      @media (min-width: 320px) and (max-width: 768px){
        width: 300px;
      }
    }
    &__fw {
      font-family: 'Julius Sans One', sans-serif;
      font-size: 3.625rem;
      font-weight: bolder;
      color: rgb(255, 255, 255);
      margin-bottom: 19px;

      @media (min-width: 320px) and (max-width: 768px){
        font-size: 2rem;
        text-align: center;
      }
    }
    &__sw {
      font-family: 'Julius Sans One', sans-serif;
      font-size: 3.625rem;
      font-weight: bolder;
      color: rgb(255, 255, 255);

      @media (min-width:   320px) and (max-width: 768px){
        font-size: 2.125rem;
        text-align: center;
      }
    }

    &__subtitle{
      margin-top: 33px;

      .section-content__sbt-txt{
        font-family: 'Archivo Narrow', sans-serif;
        line-height: 57px;
        color: rgb(87, 193, 232);
        font-size: 3.125rem;
      }
    }
  }
}
/* ========== End HeadSection ========== */

/* ========== Start GetBookSection ========== */
.get-book-section{
  background-attachment: fixed;
  background-image: url(assets/images/get-book.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__color-overlay{
    background: rgba(37,37,37,0.65);
  }
   &__title {
    padding: 45px;
    text-align: center;

    h3{
      font-family: 'Archivo Narrow', sans-serif;
      color: rgb(255, 255, 255);
      font-size: 2.25rem;
      font-weight: bolder;
    }
    h2{
      font-family: 'Archivo Narrow', sans-serif;
      color: rgb(255, 255, 255);
      font-size: 3rem;
      font-weight: bolder;
    }
  }
  .get-book-section__list{
    padding-bottom: 50px;

    .ebook-list__title{
      margin-left: 20px;
      font-size: 0.875rem;
      line-height: 22px;
      color: #ffffff;
      letter-spacing: 0px;
      word-spacing: -1px;
      transform: scale(0.876, 1);
      transform-origin: left top 0px;
    }
    .ebook-list{
      color: #ffffff;
      font-family: 'Source Sans Pro', sans-serif;
      transform: scale(0.876, 1);
      transform-origin: left top 0px;

      & li{
        font-size: 1.125rem;
        margin-bottom: 5px;
        line-height: 22px;
        color: #252525;
      }
      span{
        color: #fff;
      }
    }
    .btn-book{
      display: block;
      border-style: none;
      border-radius: 2px;
      z-index: 88;
      top: 60px;
      width: 198px;
      height: 51px;
      position: absolute;
      background: rgba(225,197,97,1);
      box-shadow: none;
      text-shadow: none;
      color: #333333;
      font-size: 1.5rem;
      font-weight: normal;
      font-family: PT Sans;
      font-style: normal;
      text-align: center;
      background-repeat: no-repeat;
      line-height: 2;
      padding: 0;

      &:hover{
        background: rgba(214,179,74,1);
        box-shadow: none;
        color: #333333;
      }
    }
  }
}
/* ========== End GetBookSection ========== */

/* ========== Start NasdaqSection ========== */
.nasdaq-section {
  background-image: url(assets/images/nasdaq-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: inherit;
  position: relative;
  &-overlay-color{
    background: rgba(45,81,127,0.75);
    height: inherit;
    padding: 73px 0;
  }

  &__content{
    text-align: center;
  }
  &__text{
    line-height: 34px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.71875rem;
    font-weight: bolder;
    margin-bottom: 19px;
    color: #fff;
  }
  &__author{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.125rem;
    color: #fff;
  }
}
/* ========== End NasdaqSection ========== */

/* ========== Start NonGeeksSection ========== */
.non-geeks-section{
  padding: 65px 0 30px;

  &__title{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.25rem;
    font-weight: bolder;
    color: rgb(87, 193, 232);
  }
  &__img{
    margin-top: 25px;
    text-align: center;
  }
  &__content{
    text-align: center;

    &-arrow{
      color: rgb(87, 193, 232);
      font-size: 1.125rem;
      font-weight: bolder;
    }
  }
}
/* ========== End NonGeeksSection ========== */

/* ========== Start LearnSection ========== */
.learn-section{
  background-color: #2d517f;
  padding: 60px 0;

  &__title{

    h3{
      text-align: center;
      letter-spacing: 1px;
      color: #fff;
      font-family: "Julius Sans One", sans-serif;
      font-size: 1.75rem;
      font-weight: bolder;
    }
  }
  &__subtitle{
    margin: 50px 0;
    p{
      margin-left: 40px;
      font-size: 1.125rem;
      font-family: 'Source Sans Pro', sans-serif;
      color: #fff;
      font-weight: normal;

      @media (min-width: 320px) and (max-width: 768px){
        margin-left: 0;
        text-align: justify;
      }
    }
  }
  &__content{

    h4{
      text-align: center;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 1.75rem;
      font-weight: bolder;
      color: rgb(87, 193, 232);
      transform: scale(0.9, 1);
      transform-origin: left top 0px;
    }
    &-part1,
    &-part2,
    &-part3,
    &-part4,
    &-part5,
    &-part6{
      padding: 0 55px;
      color: #fff;
      font-family: 'Archivo Narrow', sans-serif;
      font-size: 1.5625rem;
      font-weight: bolder;

      @media (min-width: 320px) and (max-width: 768px){
        padding: 0 25px;
      }

      ul{
        padding: 0 15px;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.125rem;
        font-weight: lighter;

        li{
          color: #252525;
          transform: scale(0.89,1);
          transform-origin: left top 0px;
          padding-bottom: 5px;

          span{
            color: #ffffff;
          }
        }
      }
    }
    .img-center{
      text-align: center;
    }
    img{
      margin: 30px 0;
    }
  }
}
/* ========== End LearnSection ========== */

/* ========== Start DiscountSection ========== */
.discount-section{
  background-image: url(assets/images/nasdaq-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: inherit;
  position: relative;

  &-overlay-color{
    background: rgba(251,218,91,0.76);
    height: inherit;
  }

  &__content{
    padding: 52px 0;
    text-align: center;

    .discount-section__text{
      font-family: 'Julius Sans One', sans-serif;
      color: rgb(51, 51, 51);
      font-size: 3rem;
      font-weight: bolder;
    }
    .discount-section__subtext{
      color: rgb(51, 51, 51);
      font-size: 1.5rem;
      font-family: 'Archivo Narrow', sans-serif;
      font-weight: bolder;
    }
  }
}
/* ========== End DiscountSection ========== */

/* ========== Start GetCopySection ========== */
.get-copy-section{
  display: block;
  background: rgba(51,51,51,1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: inherit;
  position: relative;
  padding: 20px 0;

  &__img{
    text-align: center
  }
  &__content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .btn-get-copy{
      display: block;
      border-style: none;
      border-radius: 2px;
      z-index: 1;
      width: 275px;
      height: 64px;
      background: #e1c561;
      background-repeat: repeat;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-shadow: none;
      color: #333;
      font-size: 1.5rem;
      font-weight: 400;
      font-family: PT Sans;
      font-style: normal;
      text-align: center;
      background-repeat: no-repeat;
      line-height: 2.5;
      padding: 0;
      margin-bottom: 40px;

      &:hover{
        background: rgba(214,179,74,1);
        box-shadow: none;
        color: #333333;
        text-decoration: none;
      }
    }
    p{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.125rem;
      color: rgb(255, 255, 255);
      text-align: center;
    }
  }
}
/* ========== End DiscountSection ========== */

/* ========== Start DownloadSection ========== */
.download-section {
  display: block;
  background: rgba(45, 81, 127, 1);
  border-style: none;
  margin: 0;
  padding: 42px 0;
  border-radius: 0px;
  width: 100%;
  height: inherit;
  position: relative;

  &__text{
    font-family: "Julius Sans One", sans-serif;
    font-size: 2.25rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
    transform: scale(0.89,1);
    transform-origin: center top 0px;
    line-height: inherit;
  }
  &__btn{

    @media (min-width: 320px) and (max-width: 768px) {
      text-align: center;
    }

    &-dwnld{
      display: inline-block;
      border-style: none;
      border-radius: 2px;
      z-index: 70;
      width: 189px;
      height: 51px;
      background: rgba(238,204,95,1);
      background-repeat: repeat;
      box-shadow: none;
      text-shadow: none;
      color: #252525;
      font-size: 1.5rem;
      line-height: 48px;
      font-weight: 400;
      font-family: PT Sans;
      font-style: normal;
      text-align: center;
      background-repeat: no-repeat;

      &:hover{
        background: rgba(214,179,74,1);
        box-shadow: none;
        color: #333333;
        text-decoration: none;
      }
    }
  }
}
/* ========== End DownloadSection ========== */

/* ========== Start AuthorSection ========== */
.author-section{

  &__content {
    margin-right: 50px;
    font-family: lato;

    @media (min-width: 320px) and (max-width:768px ){
      margin-right: inherit;
    }
    p{
      font-size: 1.0625rem;
      transform: scale(0.96);
      transform-origin: center top 0px;
      line-height: 1.7;
      letter-spacing: 0.8px;
    }
    &-photo{
      text-align: center;
    }
    &-logo {
      text-align: center;
      padding-bottom: 75px;

      @media (min-width: 320px) and (max-width: 768px){
        padding: 30px 0 40px;
      }
    }
    &-link1 {
      font-family: lato;
      color: rgb(51, 51, 51);
      text-decoration: underline;
    }
    &-link1:hover {
      color: rgb(51, 51, 51);
    }
    &-link2 {
      font-family: lato;
      color: rgb(45, 81, 127);
      text-decoration: underline;
    }
    &-link2:hover {
      color: rgb(45, 81, 127);
    }
  }
  &__text {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.25rem;
    font-weight: bolder;
    color: rgb(87, 193, 232);
    margin: 60px 0 30px;
  }
}
/* ========== End AuthorSection ========== */

/* ========== Start GetCopyFooterSection ========== */
.get-copy-footer-section{
  display: block;
  background: rgba(45,81,127,1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  position: relative;

  &__content{
    text-align: center;
    margin: 75px auto;

    @media (min-width: 320px) and (max-width: 768px){
      margin: 45px auto;
    }
  }
  &__text{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 0px;
    word-spacing: -1px;
    font-size: 2.25rem;
    margin-bottom: 30px;
    line-height: 27px;
    transform: scale(0.9209,1);
    transform-origin: left top 0px;

    @media (min-width: 320px) and (max-width: 768px){
      font-size: 1.875rem;
    }
  }
  &__btn{
    margin: 40px auto 47px;
    display: block;
    border-style: none;
    border-radius: 2px;
    z-index: 89;
    width: 288px;
    height: 51px;
    background: rgba(225,197,97,1);
    background-repeat: repeat;
    box-shadow: none;
    text-shadow: none;
    color: #333333;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: PT Sans;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
    text-decoration: none !important;
    line-height: 50px;
    transform: scale(1);
    transform-origin: center top 0px;
  }
  &__btn:hover{
    background: rgba(214,179,74,1);
    box-shadow: none;
    color: #333333;
  }
  &__subtext{
    font-family: lato;
    font-size: 1.125rem;
    color: #fff;
    transform: scale(0.976, 1);
    transform-origin: center top 0px;
  }
  &__bottom-txt{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2.25rem;
    line-height: 58px;
    color: #fff;
  }
}
/* ========== End GetCopyFooterSection ========== */

/* ========== Start FooterSection ========== */
.footer-section{
  display: block;
  background: rgba(37,37,37,1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: inherit;
  position: relative;
  text-align: center;

  &__text{
    margin: 25px auto;
    color: #696969;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.125rem;
    p{
      margin-bottom: 10px;
    }

    a{
      text-decoration: underline;
      color: #57c1e8;
      margin-right: 13px;
    }
  }
}
